@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: white;
    background-color: #09001d;
    overflow: hidden;
}
.header {
    position: fixed;
    background-color: rgb(230, 231, 226);
    top: 0;
    left: 0;
    padding: 20px 10%; 
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
  
    border-bottom: 6px solid #F58634;
}

.header a {
    display: flex;
    align-items: center;
}

.header a img {
    margin-right: 10px;
}

#logo {
    height: 80px;
}

#logo2 {
    height: 80px;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin: 12px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: #F58634;
}

.container {
    
    background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
    background-size: cover;
    background-position: center;
    transition: .5s ease;
    pointer-events: auto;
}
.container.active{
    filter: blur(15px);
    pointer-events: none;
}
.wrapper{
    display: flex;
    height: 100vh;
    width: 200%;
}
.home{
    position: relative;
    left: -50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 100px;
    
}
.home_content{
    max-width: 800px;
}
.home_content h1{
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0,.3);
    padding: 23px;
   
}
.home_content p{
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    text-shadow: 0 0 10px rgba(0, 0, 0,.3);
}
.start_btn{
    text-align: center;
    justify-content: center;
    font-size:20px;
    font-weight: 700;
    align-items: center;
    padding: 15px;
    width: 20%;
    position: relative;
    left: 287px;
    top: 40px;
    background-color: #c40094;
    border: 2px solid #fff;
    outline: none;
    box-shadow: 0 0 10px #c40094 ;
    color: white;
    letter-spacing: 1px;
    transition: 1s;
}
.start_btn:hover{
    background-color: black;
    box-shadow: none;
    box-shadow: 6px 6px 10px #c40094 ;
    letter-spacing: 3px;
    font-size: 20px;
    
}
.quiz-info{
 position: absolute;   
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%) scale(.9);
 width: 760px;
 /* background-image: linear-gradient(to top, #09203f 0%, #537895 100%); */
 background-color: white;
 border-radius: 6px;
height: 500px;
padding: 23px 23px;
opacity: 0;
pointer-events: none;
transition: .5s;
}
.quiz-info.active{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%,-50%) scale(.9);
}
.quiz-info h1{
    color:#c40094;
    font-size: 70px;
    font-weight: 800;
    margin: 12px 12px;
    
}
.quiz-info .info{
    display: inline-block;
    font-size: 30px;
    font-weight: 600;
    color: #333;
}
.menu-btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top:  1px solid #999;
    margin-top: 10px;
}
.two-btns{
    display: flex;
    justify-content: center;
    width: 30%;
    height: 40px;
    margin: 10px 10px;
    border: 2px solid #c40094;
    background-color: #c40094;
    text-align: center;
    text-decoration: none;
    outline: 0;
    border-radius: 10px;
    color: #fff;
    font-weight: 700;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0,.1);
    cursor: pointer;
    padding: 23px;
    margin-top: 15px;
    font-size: 20px;
}
.two-btns:hover{
    background-color: black;
    box-shadow: none;
    box-shadow: 6px 6px 10px #fa5ad2 ;
    letter-spacing: 1px;
    font-size:  20px;
}
.quiz_section{
    width: 100%;
    position: relative;
    left: -50%;
    /* left: 0; */
    background-color: #09001d;
    transition: .8s ease-in-out;
    transition-delay: .5s;
    z-index: 101;
    display: flex;
    justify-content:center;
    align-items: center;
}
.quiz_section.active{
    left: 0;
}
.quiz-box{
    position: relative;
    /* width: 500px; */
    background: transparent;
    border: 2px solid #c40094;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 20px 30px;
}
.quiz-box h1{
    font-size: 32px;
    text-align: center;
    background:linear-gradient(45deg,transparent,#c40094,transparent);
    border-bottom: 7px;
}
.quiz_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    border-bottom: 2px solid #c40094;
}
.quiz_header span{
    font-size: 20px;
    font-weight: 500;
}
.header_score{
    background:#c40094;
    border-radius: 4px;
    padding: 7px;
    color:white;
}
.questions_text{
    font-size: 28px;
    font-weight: 700;
    margin: 12px ;
}
.options_list .option{
width: 100%;
padding: 12px;
border: 4px solid rgb(255, 255, 255,.2);
border-radius: 5px;
font-size: 18px;
font-weight: 600;
margin: 12px 0;
cursor: pointer;
transition: .4s;
}
.option:hover{
    background: rgb(255, 255, 255,.1);
    border-color: rgb(255, 255, 255,.1);
}






.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer p {
    margin-bottom: 10px;
}

.footer-links {
    list-style-type: none;
    padding: 0;
}

.footer-links li {
    display: inline-block;
    margin-right: 10px;
}

.footer-links li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links li a:hover {
    color: #F58634;
}
